.tab-pane {
    padding-top: 10px;
}

.editor {
    overflow: auto;
    margin-bottom: 10px;
}

.editor .offset {
    float: left;
    padding: 0px 10px;
    background: #f7f7f7;
    color: #777;
    text-align: right;
    font-family: 'Source Code Pro','Courier New',Consolas,Menlo,'PT Mono','Liberation Mono',monospace;
    font-size: 14px;
    line-height: 18px;
    cursor: default;
}

.editor .offset div {
    padding-bottom: 1px;
}

.editor .hex, .editor .map {
    float: left;
    padding: 0px 10px;
    line-height: 18px;
    font-size: 14px;
}

.editor div {
    display: block;
}

.editor span.byte, .editor span.charByte {
    font-family: 'Source Code Pro','Courier New',Consolas,Menlo,'PT Mono','Liberation Mono',monospace;
    font-size: 14px;
    line-height: 18px;
    cursor: default;
    display: inline-block;
    white-space: pre;
    padding: 0 2px;
}

.editor span.byte:hover, .editor span.charByte:hover {
    background: #dae4ea;
}

.editor span.byte.cursor, .editor span.charByte.cursor{
    background-color: #d3d3d3;
    animation: blink-cursor 1s infinite;
    margin-bottom: -1px;
    border-bottom: transparent solid 1px;
}

@keyframes blink-cursor {
    50% {border-bottom: 1px solid #000;}
}

.editor .hex span.cursor.blink {
    box-shadow: inset 0 -4px 0 -2px rgba(0,0,0,0.5);
}

.editor .hex span.separation {
    padding: 0 2px;
}

.editor .map {
    background: #f7f7f7;
    color: #777;
}

#toolbar {
    overflow: hidden;
    height: 513;
}

#editor {
    overflow-y: scroll;
    height: 513;
}
