.tab-pane {
    padding-top: 10px;
}

.editor {
    margin-bottom: 10px;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editor .offset {
    float: left;
    padding: 0px 10px;
    background: #f7f7f7;
    color: #777;
    text-align: right;
    font-family: 'Source Code Pro','Courier New','PT Mono','Liberation Mono',monospace;
    font-size: 14px;
    line-height: 18px;
    cursor: default;
}

.editor .offset div {
    padding-bottom: 1px;
}

.editor .hex, .editor .map {
    float: left;
    padding: 0px 10px;
    line-height: 18px;
    font-size: 14px;
}

.editor div {
    display: block;
}

.editor span.byte, .editor span.charByte {
    font-family: 'Source Code Pro','Courier New','PT Mono','Liberation Mono',monospace;
    font-size: 14px;
    line-height: 18px;
    cursor: default;
    display: inline-block;
    white-space: pre;
    padding: 0 2px;
}

.editor span.byte:hover, .editor span.charByte:hover {
    background: #dae4ea;
}

.editor span.byte.selected, .editor span.charByte.selected {
    background-color: #d3d3d3;
    margin-bottom: -1px;
}

.editor span.byte.cursor, .editor span.charByte.cursor{
    animation: blink-cursor 1s infinite;
    border-bottom: transparent solid 1px;
}

@keyframes blink-cursor {
    50% {border-bottom: 1px solid #000;}
}

.editor .hex span.separation {
    padding: 0 2px;
}

.editor .map {
    background: #f7f7f7;
    color: #777;
}

#toolbar {
    overflow: hidden;
    height: 515;
}

#editor {
    overflow-y: scroll;
    height: 518;
}
